/* Navbar.css */
.site-logo {
    color: #fff;
    text-decoration: none;
}

.navbar {
    background-color: #1e40af;
    color: white;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-list {
    display: flex;
    gap: 16px;
    list-style-type: none;
}

.navbar-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.navbar-link:hover {
    text-decoration: underline;
}