/* Basic Styles for Product Page */

.product-title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}

.product-image {
    width: 100%;
    max-width: 500px;
    aspect-ratio: 1/1;
    height: auto;
    margin-bottom: 20px;
    object-fit: cover;
    display: block;
}


.product-description {
    font-size: 1.1em;
    color: #555;
    margin-bottom: 20px;
}

.price-container {
    margin-top: 20px;
}

.product-price {
    font-size: 1.5em;
    color: #333;
}

.old-price {
    text-decoration: line-through;
    color: #888;
}

.discounted-price {
    color: #f00;
    font-size: 1.5em;
    margin-top: 10px;
}

/* Reviews Section */
.reviews-section {
    margin-top: 40px;
}

.reviews-section h2 {
    font-size: 1.8em;
    font-weight: bold;
}

.reviews-list {
    list-style-type: none;
    padding: 0;
}

.review-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.review-header {
    display: flex;
    align-items: center;
}

.review-author {
    font-weight: bold;
    margin-right: 10px;
}

.review-rating {
    color: #ff9900;
}

.star {
    margin-right: 5px;
}

.review-text {
    margin-top: 10px;
    font-size: 1.1em;
    color: #555;
}

/* Add to Cart button */
.add-to-cart-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-to-cart-button:hover {
    background-color: #0056b3;
}

.discount-percentage {
    color: red;
    font-weight: bold;
    margin-left: 10px;
}

.line-through {
    text-decoration: line-through;
}

.original-price-text {
    color: grey;
}

.discounted-price {
    font-size: 1.2em;
    font-weight: bold;
    color: green;
}