/* ProductCard.css */
.product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    background-color: white;
}

.product-card-image {
    width: 100%;
    height: 256px;
    object-fit: cover;
    margin-bottom: 16px;
}

.product-card-title {
    font-weight: bold;
    font-size: 1.125rem;

}

.product-card-price {
    color: #6b7280;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.product-card-price-old {
    text-decoration: line-through;
    color: #f87171;
}

.product-card-price-discount {
    color: #16a34a;
}

.product-card-link {
    color: #2563eb;
    text-decoration: none;
}

.product-card-link:hover {
    text-decoration: underline;
}

.card-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.card-add-to-cart-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    font-size: 0.8em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card-add-to-cart-button:hover {
    background-color: #0056b3;
}


.product-card-price-container {
    display: flex;
    flex-direction: column;
}

.product-card-price-old {
    text-decoration: line-through;
    color: gray;
}

.product-card-price-discounted {
    font-size: 1.2em;
    font-weight: bold;
    color: green;
}

.product-card-discount {
    color: red;
    font-weight: bold;
}