/* index.css */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}

.section-padding {
  padding: 2rem 0;
}

@media (min-width: 40em) {
  .section-padding {
    padding: 4rem 0;
  }
}